[submodule "LC_VCO_FPLL"]
	path = LC_VCO_FPLL
	url = https://github.com/avishkaherath/LC_VCO_FPLL.git
[submodule "Unic_Cass_IHP"]
	path = Unic_Cass_IHP
	url = https://github.com/LohanAtapattu/Unic_Cass_IHP.git
[submodule "xpcam-usfq-unical"]
	path = xpcam-usfq-unical
	url = https://github.com/EduHolg/xpcam-usfq-unical.git
[submodule "SSDOR-UNICCASS-2025"]
	path = SSDOR-UNICCASS-2025
	url = https://github.com/ChipPUCP/SSDOR-UNICCASS-2025.git
[submodule "unic-cass-wrapper-TOMar2026"]
	path = unic-cass-wrapper-TOMar2026
	url = https://github.com/unic-cass/unic-cass-wrapper-TOMar2026.git
[submodule "openpdk-libraries"]
	path = openpdk-libraries
	url = https://github.com/openic-org/openpdk-libraries.git
[submodule "unic-cass-analog"]
	path = unic-cass-analog
	url = https://github.com/LuighiV/unic-cass-analog.git
[submodule "IHP__CMP9794"]
	path = IHP__CMP9794
	url = https://github.com/EstebanJGC/IHP__CMP9794.git
